@import '../../styles/mixins';

.home-info-graphic {
  background-color: #1f285c;
  overflow: hidden;
  #github-fork-me {
    position: absolute;
    right: 2px;
    top: 2px;
    img {
      width: 10rem;
      height: 10rem;
    }
  }
  @include flex-column;
  header,
  footer {
    @include flex-column;
    width: 100%;
    font-family: Acumin-Bold;
    color: #353c46;
    background-color: white;
    padding: 1rem 0;
    h2 {
      font-size: 3rem;
      line-height: 3rem;
      margin: 0;
      span {
        color: #1fb5e8;
      }
    }
    p {
      font-size: 1rem;
      margin: 0;
    }
  }
  header {
    border-bottom: 0.75rem solid #1fb5e8;
  }
  footer {
    margin-top: 6rem;
    border-top: 0.75rem solid #1fb5e8;
  }
  main {
    @include flex-column;
    width: 100%;
    text-align: center;
    color: white;
    padding: 2rem 0 6rem 0;
    h1 {
      font-size: 3.5rem;
      margin: 0;
      font-family: 'Acumin-Bold';
    }
    h3 {
      margin: 0;
      font-size: 1.5rem;
      font-weight: normal;
      font-family: 'Acumin';
    }
  }
  .tools {
    width: 100%;
    .nothing-found {
      display: block;
      color: white;
      margin: auto;
      text-align: center;
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  }
}
@media (max-width: 920px) {
  .home-info-graphic {
    main {
      padding: 2rem 0 4rem 0;
      .categories {
        .vector,
        .raster,
        .both,
        .other {
          &:last-child {
            margin-right: 8rem;
          }
        }
      }
    }
  }
}
@media (max-width: 620px) {
  .home-info-graphic {
    #github-fork-me {
      img {
        width: 12rem;
        height: 12rem;
      }
    }
    main {
      .categories {
        margin-bottom: 3rem;
        .vector,
        .raster,
        .both,
        .other {
          width: 5rem;
        }
      }
    }
  }
}
