@import '../../styles/mixins';

.snake-tail, .snake-body, .snake-head {
  position: absolute;
  width: 100%;
  left: 50%;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
}

.snake-tail {
  height: 18.5rem;
  bottom: 5.5rem;
  transform: translateX(calc(-50% - 0.2rem));
}
.snake-body {
  height: 100.5%;
  bottom: 5.5rem;
  transform: translateX(calc(-50% - 0.1rem));
  &.right {
    height: 101%;
    transform: translateX(calc(-50% + 0.45rem));
  }
}
.snake-head {
  height: 19.5rem;
  bottom: -1rem;
  transform: translateX(calc(-50% - 0.5rem));
  &.right {
    bottom: -0.9rem;
    height: 20rem;
    transform: translateX(calc(-50% + 0.45rem));
  }
}
@media (max-width: 920px) {
  .snake-tail {
    transform: translateX(calc(-50% - 0.4rem));
  }
  .snake-head {
    transform: translateX(calc(-50% - 0.5rem));
    &.right {
      bottom: -0.75rem;
      transform: translateX(calc(-50% + 0.25rem));
    }
  }
}

@media (max-width: 620px) {
  .snake-tail {
    transform: translateX(calc(-50% + 0.25rem));
    height: 19rem;
  }
  .snake-head {
    &.right {
      transform: translateX(calc(-50% + 0.1rem));
    }
  }
}

@media (max-width: 420px) {
  .snake-tail {
    transform: translateX(calc(-50% + 0.75rem));
    height: 20rem;
  }
  .snake-head {
    height: 20rem;
    &.right {
      transform: translateX(calc(-50% - 0.1rem));
      height: 20.5rem;
    }
  }
}
