@import '../../styles/mixins';
.home-tool {
    @include flex-container;
    width: 100%;
    padding: 2rem 0 6rem 0;
    .tool {
        @include flex-container;
        position: relative;
        width: 100%;
        padding: 1rem 0;
        transition: 0.2s ease-in-out;
        cursor: pointer;
        max-width: 100%;
        margin-left: -30px;
        margin-right: -30px;
        border-top: 2px solid;
        border-bottom: 2px solid;
        border-right: 0;
        border-left: 0;
        border-left-style: none !important;
        border-right-style: none !important;
        .text {
            @include flex-container;
            justify-content: flex-start;
            width: 100%;
            max-width: 580px;
            &.right {
                justify-content: flex-end;
            }
        }
        h2,
        h3 {
            font-family: 'Montserrat-Bold';
            margin: 0;
            white-space: nowrap;
        }
        h2 {
            font-size: 2.5rem;
            color: white;
            margin: 0 1rem;
        }
        h3 {
            color: #1f285c;
            font-size: 1.75rem;
        }
        .MuiChip-root {
            background-color: #515151;
            color: white;
            border: 2px solid white;
            margin: 0 0.33rem;
        }
        &.right {
            margin-top: 0.75rem;
        }
        &.vector {
            background: linear-gradient(90deg, #e09f2d 30%, transparent 90%);
            border-image: linear-gradient(90deg, #e09f2d 0%, transparent 100%);
            border-image-slice: 1;
            &.right {
                background: linear-gradient(-90deg, #e09f2d 30%, transparent 90%);
                border-image-source: linear-gradient(-90deg, #e09f2d 0%, transparent 100%);
            }
            &.selected,
            &:hover {
                background-color: #e09f2d;
            }
            .category {
                background-color: #e09f2d;
            }
        }
        &.raster {
            background: linear-gradient(90deg, #1fb5e8 30%, transparent 95%);
            border-image: linear-gradient(90deg, #1fb5e8 0%, transparent 100%);
            border-image-slice: 1;
            &.right {
                background: linear-gradient(-90deg, #1fb5e8 30%, transparent 95%);
                border-image-source: linear-gradient(-90deg, #1fb5e8 0%, transparent 100%);
            }
            &.selected,
            &:hover {
                background-color: #1fb5e8;
            }
            .category {
                background-color: #1fb5e8;
            }
        }
        &.both {
            background: linear-gradient(90deg, #6fbf4e 30%, transparent 95%);
            border-image: linear-gradient(90deg, #6fbf4e 0%, transparent 100%);
            border-image-slice: 1;
            &.right {
                background: linear-gradient(-90deg, #6fbf4e 30%, transparent 95%);
                border-image-source: linear-gradient(-90deg, #6fbf4e 0%, transparent 100%);
            }
            &.selected,
            &:hover {
                background-color: #6fbf4e;
            }
            .category {
                background-color: #6fbf4e;
            }
        }
        &.other {
            background: linear-gradient(90deg, #c63b96 30%, transparent 95%);
            border-image: linear-gradient(90deg, #c63b96 0%, transparent 100%);
            border-image-slice: 1;
            &.right {
                background: linear-gradient(-90deg, #c63b96 30%, transparent 95%);
                border-image-source: linear-gradient(-90deg, #c63b96 0%, transparent 100%);
            }
            &.selected,
            &:hover {
                background-color: #c63b96;
            }
            .category {
                background-color: #c63b96;
            }
        }
    }
}

@media (max-width: 920px) {
    .home-tool {
        .tool {
            .text {
                max-width: 400px;
            }
            .category {
                font-size: 12px;
            }
        }
    }
}

@media (max-width: 620px) {
    .home-tool {
        .tool {
            .text {
                max-width: 260px;
            }
        }
        .category {
            height: 24px;
        }
    }
}

@media (max-width: 420px) {
    .home-tool {
        .tool {
            .text {
                max-width: 200px;
            }
            .category {
                height: 17px;
                border-width: 1px;
                font-size: 8px;
            }
        }
    }
}

@media (max-width: 320px) {
    .home-tool {
        .tool {
            .category {
                height: 15px;
                font-size: 6px;
            }
        }
    }
}

@media (max-width: 280px) {
    .home-tool {
        padding: 2rem 0 4.2rem 0;
        .tool {
            .text {
                max-width: 160px;
            }
        }
    }
}